      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 400px;
}
      /* Optional: Makes the sample page fill the window. */

.card-header {
    background-color:lightgrey;
}

body {
    background-color: rgb(77, 177, 160);
}